Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-SocketIO==5.3.6
Flask-Login==0.6.3
Flask-WTF==1.2.1
Werkzeug==3.0.3
SQLAlchemy==2.0.30
python-socketio==5.11.2
python-engineio==4.9.0
eventlet==0.36.1
PyMySQL==1.1.1
cryptography==42.0.8
python-docx==1.1.2
openpyxl==3.1.5
PyPDF2==3.0.1
reportlab==4.2.2
Pillow==10.3.0
qrcode==7.4.2
requests==2.32.3